In [1]:
import pandas as pd

# dataset

In [2]:
data = [[1, 1, 1, 1, 1, 1, 0],
       [0, 1, 1, 0, 0, 0, 0],
       [1, 1, 0, 1, 1, 0, 1],
       [1, 1, 1, 1, 0, 0, 1],
       [0, 1, 1, 0, 0, 1, 1],
       [1, 0, 1, 1, 0, 1, 1],
       [1, 0, 1, 1, 1, 1, 1],
       [1, 1, 1, 0, 0, 1, 0],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 0, 1, 1]]
columns = ["a", "b", "c", "d", "e", "f", "g"]

In [3]:
df = pd.DataFrame(data=data, columns=columns)

In [4]:
df["target"] = range(10)
df

   a  b  c  d  e  f  g  target
0  1  1  1  1  1  1  0       0
1  0  1  1  0  0  0  0       1
2  1  1  0  1  1  0  1       2
3  1  1  1  1  0  0  1       3
4  0  1  1  0  0  1  1       4
5  1  0  1  1  0  1  1       5
6  1  0  1  1  1  1  1       6
7  1  1  1  0  0  1  0       7
8  1  1  1  1  1  1  1       8
9  1  1  1  1  0  1  1       9

# train

In [5]:
X = df[df.columns[:-1]]
y = df["target"]

In [6]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [7]:
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [8]:
#from joblib import dump, load
#dump(clf, 'decisionTreeWith7Segment.joblib')

# test

In [9]:
clf.predict([[1, 1, 1, 1, 1, 1, 1]])

array([8])