In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris_data = load_iris()

In [3]:
data = []
for i in range(len(iris_data.data)):
    row = list(iris_data.data[i])
    row.append(iris_data.target_names[iris_data.target[i]])
    row.append(iris_data.target[i])
    data.append(row)
columns = iris_data.feature_names
columns.append("species")
columns.append("species_class")

In [4]:
df = pd.DataFrame(data=data, columns=columns)

In [5]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species_class
93,5.0,2.3,3.3,1.0,versicolor,1
29,4.7,3.2,1.6,0.2,setosa,0
39,5.1,3.4,1.5,0.2,setosa,0
125,7.2,3.2,6.0,1.8,virginica,2
6,4.6,3.4,1.4,0.3,setosa,0

In [6]:
x = iris_data.data #df[df.columns[:4]]
y = iris_data.target #df["species_class"]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1)

In [9]:
model.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=1, p=2,
           weights='uniform')

In [10]:
y_pred = model.predict(x_test)

In [11]:
score = model.score(x_test, y_test)
score

0.9333333333333333