In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris_data = load_iris()

In [3]:
data = []
for i in range(len(iris_data.data)):
    row = list(iris_data.data[i])
    row.append(iris_data.target_names[iris_data.target[i]])
    row.append(iris_data.target[i])
    data.append(row)
columns = iris_data.feature_names
columns.append("species")
columns.append("species_class")

In [4]:
df = pd.DataFrame(data=data, columns=columns)

In [5]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species_class
20,5.4,3.4,1.7,0.2,setosa,0
27,5.2,3.5,1.5,0.2,setosa,0
122,7.7,2.8,6.7,2.0,virginica,2
49,5.0,3.3,1.4,0.2,setosa,0
117,7.7,3.8,6.7,2.2,virginica,2

In [6]:
x = iris_data.data #df[df.columns[:4]]
y = iris_data.target #df["species_class"]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [8]:
from sklearn import svm
C = [10**i for i in range(-4,3)]
model_c = []
for c in C:
    clf = svm.SVC(C=c, kernel='linear')
    clf.fit(x_train, y_train)
    model_c.append(clf)

In [18]:
model_score = []
for c, model in zip(C, model_c):
    model_score.append(["{:.0e}".format(c), model.score(x_test, y_test)])

In [19]:
df = pd.DataFrame(data=model_score, columns=['C', 'score'])

In [20]:
df

       C     score
0  1e-04  0.200000
1  1e-03  0.200000
2  1e-02  0.833333
3  1e-01  0.966667
4  1e+00  1.000000
5  1e+01  1.000000
6  1e+02  1.000000