In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris_data = load_iris()

In [3]:
data = []
for i in range(len(iris_data.data)):
    row = list(iris_data.data[i])
    row.append(iris_data.target_names[iris_data.target[i]])
    row.append(iris_data.target[i])
    data.append(row)
columns = iris_data.feature_names
columns.append("species")
columns.append("species_class")

In [4]:
df = pd.DataFrame(data=data, columns=columns)

In [5]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species_class
127,6.1,3.0,4.9,1.8,virginica,2
122,7.7,2.8,6.7,2.0,virginica,2
15,5.7,4.4,1.5,0.4,setosa,0
81,5.5,2.4,3.7,1.0,versicolor,1
46,5.1,3.8,1.6,0.2,setosa,0

In [6]:
x = iris_data.data #df[df.columns[:4]]
y = iris_data.target #df["species_class"]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
model_k = []
K = range(1,21)
for k in K:
    clf = KNeighborsClassifier(n_neighbors=k, weights="distance")
    clf.fit(x_train, y_train)
    model_k.append(clf)

In [9]:
model_score = []
for k, model in enumerate(model_k):
    model_score.append([k+1, model.score(x_test, y_test)])

In [10]:
df = pd.DataFrame(data=model_score, columns=['k', 'score'])

In [11]:
df

     k     score
0    1  0.933333
1    2  0.933333
2    3  0.966667
3    4  0.966667
4    5  0.966667
5    6  0.966667
6    7  0.966667
7    8  0.966667
8    9  0.966667
9   10  1.000000
10  11  1.000000
11  12  0.966667
12  13  1.000000
13  14  1.000000
14  15  1.000000
15  16  1.000000
16  17  1.000000
17  18  1.000000
18  19  1.000000
19  20  0.966667