In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris_data = load_iris()

In [3]:
data = []
for i in range(len(iris_data.data)):
    row = list(iris_data.data[i])
    row.append(iris_data.target_names[iris_data.target[i]])
    row.append(iris_data.target[i])
    data.append(row)
columns = iris_data.feature_names
columns.append("species")
columns.append("species_class")

In [5]:
df = pd.DataFrame(data=data, columns=columns)
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species_class
39,5.1,3.4,1.5,0.2,setosa,0
147,6.5,3.0,5.2,2.0,virginica,2
107,7.3,2.9,6.3,1.8,virginica,2
79,5.7,2.6,3.5,1.0,versicolor,1
82,5.8,2.7,3.9,1.2,versicolor,1

In [6]:
x = df[df.columns[:4]]
y = df["species_class"]

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [8]:
from sklearn import svm
import time
C = [10**i for i in range(-4,4)]
model_c = []
durations = []
for c in C:
    clf = svm.SVC(C=c, kernel='linear')
    start_time = time.time()
    clf.fit(x_train, y_train)
    end_time = time.time()
    model_c.append(clf)
    durations.append(end_time-start_time)

In [9]:
model_score = []
for c, model in zip(C, model_c):
    model_score.append(["{:.0e}".format(c), model.score(x_test, y_test)])

In [10]:
df = pd.DataFrame(data=model_score, columns=['C', 'score'])
df['C'] = C
df['training_duration'] = durations

In [11]:
df

           C     score  training_duration
0     0.0001  0.200000           0.001000
1     0.0010  0.200000           0.001000
2     0.0100  0.933333           0.001001
3     0.1000  1.000000           0.000999
4     1.0000  1.000000           0.001000
5    10.0000  1.000000           0.001000
6   100.0000  1.000000           0.001000
7  1000.0000  1.000000           0.001000